/Desktop/target/
/Desktop/gui/ui/*.glade~
/Desktop/.vscode/launch.json
/Desktop/firebase_handler/firebase-service-account.json
/Desktop/firebase_handler/securetoken.jwks
/Desktop/firebase_handler/service-account.jwks
/Desktop/refresh-token-for-tests.txt
/Desktop/token.txt
/Desktop/google_client_id
/Desktop/google_client_secret
/Desktop/securetoken.jwks
/Desktop/service-account.jwks
/Desktop/firebase-service-account.json
/Desktop/token
/Documentation/Dokumentacja.aux
/Documentation/Dokumentacja.lof
/Documentation/Dokumentacja.out
/Documentation/Dokumentacja.log
/Documentation/Dokumentacja.synctex.gz
/Documentation/Dokumentacja.toc
/Desktop/facebook_client_id
/Desktop/facebook_client_secret
/Desktop/Linux.zip
/Desktop/Linux/*
